<h2>Sobre Mí</h2>
<button class="btn btn-lg btn-outline-primary" (click)="openModal(content)">Agregar</button>

<table class="table">

  <thead class="thead-light">
    <tr>

      <th scope="col">linkGit</th>
      <th scope="col">linkDisc</th>
      <th scope="col">linkLinke</th>
      <th scope="col">Descripción</th>
      <th scope="col">Img</th>

    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let sobreMi of sobreMi">

      <td>{{sobreMi.linkGit}}</td>
      <td>{{sobreMi.linkDisc}}</td>
      <td>{{sobreMi.linkLinke}}</td>
      <td>{{sobreMi.descripcion}}</td>
      <img src="{{sobreMi.img}}" accept="image/*">

      <td>
        <button class="btn btn-primary" (click)="openEdit(contentEdit,sobreMi)"> Edit </button>
        <button class="btn btn-danger" (click)="openDelete(contentDelete,sobreMi)">
          Delete</button>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bienvenid@!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">

    <form [formGroup]="editForm">

      
      <div class="form-group">
        <label>linkGit</label>
        <input type="text" name="linkGit" class="form-control" formControlName="linkGit">
      </div>
      <div class="form-group">
        <label>linkDisc</label>
        <input type="text" name="linkDisc"  class="form-control" formControlName="linkDisc">
      </div>
      <div class="form-group">
        <label>linkLinke</label>
        <input type="text" name="linkDisc"  class="form-control" formControlName="linkDisc">
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
          <textarea id="descripcion" name="descripcion" class="form-control" ngModel rows="5" cols="10"></textarea>
      </div>
      <div class="form-group">
        <label>img</label>
        <input type="file" alife-file-to-base64 accept="image/*" name="img"
          (onFileChanged)="obtener($event)" class="form-control" formControlName="img">
      </div>


      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="guardar()">Agregar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- EDITAR MODAL -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar SobreMi</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">

      <div class="form-group">
        <label>linkGit </label>
        <input type="text" name="linkGit" id="" class="form-control" formControlName="linkGit" value="">
      </div>
      <div class="form-group">
        <label>linkDisc</label>
        <input type="text" name="linkDisc" id="" class="form-control" formControlName="linkDisc" value="">
      </div>
      <div class="form-group">
        <label>linkLinke</label>
        <input type="text" name="linkLinke" id="" class="form-control" formControlName="linkLinke" value="">
      </div>
      <div class="form-group">
        <label for="descripcion">descripcion</label>
          <textarea formControlName="descripcion" class="form-control" rows="5" cols="10"></textarea>
      </div>
      <div class="form-group">
        <label>img</label>
        <input type="file" alife-file-to-base64 accept="image/*" name="img"
          (onFileChanged)="obtener($event)" class="form-control" formControlName="img">
      </div>

    </form>


    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-primary" (click)="guardar()">Actualizar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </div>
</ng-template>

<!-- EDITAR MODAL ELIMINAR-->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Habilidad</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Esta seguro de eliminar este registro?</h3>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Eliminar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>