<h2>Sobre Mí</h2>
<button class="btn btn-lg btn-outline-primary" (click)="openModal(content)">Agregar</button>

<table class="table">

  <thead class="thead-light">
    <tr>

      <th scope="col">linkGit</th>
      <th scope="col">linkDisc</th>
      <th scope="col">linkLinke</th>
      <th scope="col">Descripción</th>
      <th scope="col">Img</th>

    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let sobre_Mi of sobreMi">

      <td>{{sobre_Mi.linkGit}}</td>
      <td>{{sobre_Mi.linkDisc}}</td>
      <td>{{sobre_Mi.linkLinke}}</td>
      <td>{{sobre_Mi.descripcion}}</td>
      <img src="{{sobre_Mi.img}}" accept="image/*">

      <td>
        <button class="btn btn-primary" (click)="openEdit(contentEdit,sobre_Mi)"> Edit </button>
        <button class="btn btn-danger" (click)="openDelete(contentDelete,sobre_Mi)">
          Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- MODAL AGREGAR -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bienvenid@!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">

    <form [formGroup]="editForm">


      <div class="form-group">
        <label for ="linkGit">linkGit</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="linkGit">
        </div>
      </div>
      <div class="form-group">
        <label for="linkDisc">linkDisc</label>
        <div class="input-group">
        <input type="text" class="form-control" formControlName="linkDisc">
        </div>
      </div>
      <div class="form-group">
        <label for="linkLinke">linkLinke</label>
        <div class="input-group">
        <input type="text" class="form-control" formControlName="linkDisc">
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <div class="input-group">
        <textarea id="descripcion" name="descripcion" class="form-control" rows="5" cols="10"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="img">img</label>
        <div class="input-group">
          <input  type="file" alife-file-to-base64 (onFileChanged)="obtener($event)" class="form-control">
          <img src="{{base64}}" height="100px">
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="guardar()">Agregar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- EDITAR MODAL -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar SobreMi</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">

      <div class="form-group">
        <label>linkGit </label>
        <input type="text" class="form-control" formControlName="linkGit" >
      </div>
      <div class="form-group">
        <label>linkDisc</label>
        <input type="text" class="form-control" formControlName="linkDisc">
      </div>
      <div class="form-group">
        <label>linkLinke</label>
        <input type="text" class="form-control" formControlName="linkLinke">
      </div>
      <div class="form-group">
        <label for="descripcion">descripcion</label>
        <textarea formControlName="descripcion" class="form-control" rows="5" cols="10"></textarea>
      </div>
      <div class="form-group">
        <label for="img">img</label>
        <div class="input-group">
          <input  type="file" alife-file-to-base64 (onFileChanged)="obtener($event)" class="form-control">
          <img src="{{base64}}" height="100px">
        </div>
      </div>
    </form>


    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-primary" (click)="guardar()">Actualizar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </div>
</ng-template>

<!-- EDITAR MODAL ELIMINAR-->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Habilidad</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Esta seguro de eliminar este registro?</h3>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Eliminar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>