<h2>Persona:</h2>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Agregar</button>

<table class="table" >

    <thead class="thead-light">
      <tr>
        
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Imagen</th>
        
        
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let persona of personas">
     
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellido}}</td>
        <img src="{{persona.img}}" accept="image/*">
        
        <td>
            <button class="btn btn-primary" (click)="openEdit(contentEdit,persona)" > Edit </button>
            <button class="btn btn-danger" (click)="openDelete(contentDelete, persona)">
            Delete</button>
        </td>
      </tr>
    </tbody>
  </table>






<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bienvenid@!</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <label>Nombre</label>
          <div class="input-group">
            <input class="form-control"
                   name="nombre"
                   #nombre="ngModel"
                   ngModel
                   required>
          </div>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <div class="input-group">
            <input id="apellido" name="apellido" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="img">Imagen</label>
          <div class="input-group">
            <input id="img" name="img" class="form-control" ngModel>
          </div>
        </div>
        <br> 
       
        <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')">Agregar</button>
      </div>
    </form>        
    </div>
    </ng-template>

  <ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Editar Perfil</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
       <div class="form-group">
          <label>Id</label>
          <div class="input-group">
            <input formControlName="id" class="form-control">
          </div>
        </div> 
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <div class="input-group">
            <input formControlName="nombre" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <div class="input-group">
            <input formControlName="apellido" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="img">Imagen</label>
          <div class="input-group">
            <input  alife-file-to-base64 (onFileChanged)="obtener($event)"  type="file" accept=".png,.jpg,.gif" class="form-control">
          </div>
        </div>
      </form>
       
      
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" (click)="onSave()">Actualizar</button> 
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button></div>
    </div>
  </ng-template>
  
  
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Eliminar Perfil</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Esta seguro de eliminar este registro?</h3>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Eliminar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>
